---
import { getCollection } from 'astro:content';
import UnsplashImage from '@/components/UnsplashImage.astro';
import Layout from '@/layouts/Layout.astro';
import type { GetStaticPathsOptions, Page } from 'astro';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const articles = await getCollection('articles');
  articles.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return paginate(articles, { pageSize: 10 });
}

interface Props {
  page: Page<CollectionEntry<'articles'>>;
}

const { page } = Astro.props;
---

<Layout title="Apology Articles" description="Browse our collection of apology articles">
  <main class="w-full max-w-screen-md mx-auto ">
    
    <h1 class="text-4xl font-bold mb-8 text-center">Apology Letter Articles</h1>

    <ul class="space-y-12">

      {page.data.map((article) => (
        <li class="bg-white overflow-hidden">
          <article class="prose prose-lg mx-auto">

            {article.data.image && (
                <UnsplashImage article={article} />
            )}
            {article.data?.date && (
              <time datetime={article.data.date?.toISOString()} class="text-sm text-gray-500">
                {article.data.date?.toLocaleDateString()}
              </time>
            )}
            
            <h2 class="mt-0 mb-2">
              <a href={`/articles/${article.slug}`} class="text-link">
                {article.data.title}
              </a>
            </h2>

            <p class="text-gray-600 mb-4">{article.data.description}</p>

          </article>
        </li>
      ))}
    </ul>

    <nav class="mt-8 flex justify-between">
      {page.url.prev ? (
        <a href={page.url.prev} class="btn btn-primary">
          &larr; Previous Page
        </a>
      ) : <span></span>}
      {page.url.next ? (
        <a href={page.url.next} class="btn btn-primary">
          Next Page &rarr;
        </a>
      ) : <span></span>}
    </nav>
  </main>
</Layout>

<style>
  .aspect-video {
    aspect-ratio: 16 / 9;
  }
  .aspect-video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
