---
import { getCollection } from 'astro:content';
import UnsplashImage from '@/components/UnsplashImage.astro';
import Layout from '@/layouts/Layout.astro';
import type { GetStaticPathsOptions, Page } from 'astro';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths({ paginate }) {
  const articles = await getCollection('articles');
  const sortedArticles = articles.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  
  return paginate(sortedArticles, { pageSize: 10 });
}


const { page } = Astro.props;
---

<Layout title="Apology Articles" description="Browse our collection of apology articles">
  <main class="w-full max-w-screen-md mx-auto mt-16">
    
    <h1 class="text-4xl font-bold mb-8 text-center">Apology Letter Articles</h1>

    <ul class="space-y-12">

      {page.data.map((article) => (
        <li class="bg-white overflow-hidden">
          <article class="prose prose-lg mx-auto">

            {article.data.image && (
                <UnsplashImage article={article} />
            )}
            {article.data?.date && (
              <time datetime={article.data.date?.toISOString()} class="text-sm text-gray-500">
                {article.data.date?.toLocaleDateString()}
              </time>
            )}
            
            <h2 class="mt-0 mb-2">
              <a href={`/articles/${article.slug}`} class="text-link">
                {article.data.title}
              </a>
            </h2>

            <p class="text-gray-600 mb-4">{article.data.description}</p>

          </article>
        </li>
      ))}
    </ul>

    <nav class="mt-8 flex justify-between">
      {page.url.prev ? (
        <a href={page.url.prev} class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
          &larr; Artículos anteriores
        </a>
      ) : <span></span>}
      
      {page.url.next ? (
        <a href={page.url.next} class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
          Artículos siguientes &rarr;
        </a>
      ) : <span></span>}
    </nav>
  </main>
</Layout>
