---
import UnsplashImage from '@/components/UnsplashImage.astro';
import Layout from '@/layouts/Layout.astro';
import type { PaginateFunction } from 'astro';
import { articles } from '@/lib/articles';

export const prerender = true;

export function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const valid = articles.filter((a) => a.data && a.data.date);
  return paginate(valid, { pageSize: 10 });
}

const { page } = Astro.props;

if (!page) {
  throw new Error('Page prop is undefined. Check getStaticPaths function.');
}
---

<Layout title="Apology Articles" description="Browse our collection of apology articles">
  <main class="w-full max-w-screen-md mx-auto mt-16">

    <h1 class="text-4xl font-bold mb-8 text-center">Apology Articles</h1>

    <ul class="space-y-12">
      {page.data && page.data.length > 0 ? page.data.map((article) => {
        const date = article.data.date ? new Date(article.data.date) : null;
        return (
        <li class="overflow-hidden">
          <article class="prose prose-lg mx-auto">
            {article.data.image && (
                <UnsplashImage article={article} />
            )}
            {date && (
              <time datetime={date.toISOString()} class="text-sm text-gray-500">
                {date.toLocaleDateString()}
              </time>
            )}

            <h2 class="mt-0 mb-2">
              <a href={`/articles/${article.slug}`} class="text-link">
                {article.data.title}
              </a>
            </h2>

            <p class="text-gray-600 mb-4">{article.data.description}</p>
          </article>
        </li>
      ); }) : (
        <li class="text-center text-gray-500">
          <p>No articles found.</p>
        </li>
      )}
    </ul>

    <nav class="mt-8 flex justify-between">
      {page.url.prev ? (
        <a href={page.url.prev} class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
          &larr; Newer articles
        </a>
      ) : <span></span>}

      {page.url.next ? (
        <a href={page.url.next} class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
          Older articles &rarr;
        </a>
      ) : <span></span>}
    </nav>
  </main>
</Layout>
