---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import CopyButton from '../../components/CopyButton.astro';
import ContentModifier from '../../components/ContentModifier.astro';
import CallToAction from '../../components/CallToAction.astro';
import UnsplashImage from '../../components/UnsplashImage.astro';
import EnhancedPreElement from '../../components/EnhancedPreElement.tsx';

// Add this interface to define the article structure
interface Article {
  slug: string;
  data: {
    title: string;
    description: string;
    date: Date;
    image?: string;
    // Add other properties as needed
  };
}

export async function getStaticPaths() {
  const articles = await getCollection('articles');
  return articles.map((article: Article) => ({
    params: { slug: article.slug },
    props: { article, articles },
  }));
}

const { article, articles } = Astro.props;
// Add type annotation here
const typedArticle: Article = article;

// Función para obtener artículos aleatorios
function getRandomArticles(currentSlug, allArticles, count) {
  const otherArticles = allArticles.filter(a => a.slug !== currentSlug);
  return otherArticles.sort(() => 0.5 - Math.random()).slice(0, count);
}

const randomArticles: Article[] = getRandomArticles(typedArticle.slug, articles, 3);

const { Content } = await article.render();

---

<Layout title={typedArticle.data.title} description={typedArticle.data.description}>
  <main class="mx-auto px-4 py-8">
    <div class="prose prose-xl mx-auto">
      <h1>{typedArticle.data.title}</h1>
      <time datetime={typedArticle.data.date.toISOString()} class="text-sm text-gray-500 block">
        {typedArticle.data.date.toLocaleDateString()}
      </time>
    </div>
    <div class="full-bleed my-8">
      {typedArticle.data?.image && (
        <UnsplashImage article={typedArticle} />
      )}
    </div>
    <article class="prose prose-lg mx-auto prose-pre:bg-gray-50 prose-pre:p-4 prose-pre:border prose-pre:font-normal prose-pre:border-gray-300 prose-pre:rounded-md prose-pre:relative mb-12">
        <Content components={{ pre: EnhancedPreElement }} />
    </article>

    <section class="mt-16">
      <h2 class="text-2xl font-bold mb-8 text-center">More Articles</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {randomArticles.map((randomArticle) => (
          <div class="card bg-base-100 ">
            <div class="card-body">
              <h3 class="card-title">{randomArticle.data.title}</h3>
              <div class="card-actions justify-end">
                <a href={`/articles/${randomArticle.slug}`} class="btn btn-link">Read More</a>
              </div>
            </div>
          </div>
        ))}
      </div>
    </section>
    <CallToAction />
  </main>
  <!-- <CopyButton /> -->
</Layout>

<style is:global>
  .prose img {
    @apply mx-auto;
  }
  .full-bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Estilo para el bloque de código */
  pre {
    background-color: #f5f5f5 !important; /* Cambiar el color de fondo */
    white-space: pre-line !important;
    border-radius: 8px !important; /* Bordes redondeados */
    overflow-x: auto !important; /* Permitir desplazamiento horizontal si es necesario */
    color: #000 !important;
    padding: 2rem !important;
}

</style>
